body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.catalogo {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 200px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
}

.card img {
  width: 100%;
}

.precio {
  color: green;
  font-weight: bold;
}
